#movie-backdrop {
    width: 100%;
}

/* .container { */
/* } */

.row {
    width: 90%;
    margin: 0 auto;
}
img {
    /* max-width: 400px; */
}
.mainCard{
    position: relative ;
    overflow: hidden;
    margin: 10px 10px;
}
.mainCard > div{
 height: fit-content;
    text-align: center;
position: absolute;
bottom: -220px;
text-align: center;
width: 100%;
background-color: antiquewhite;
transition-duration: 0.5s ;
padding: 10px 0;
}
.mainCard img{
    transition-duration: 0.5s ;
}
.mainCard h5{
    margin: 0;
}

.mainCard:hover > div {
bottom: 0px;  
}
.mainCard:hover img {
    transform: scale(1.3);
}
.mainCard:hover{
    cursor: pointer;
}

.container:nth-child(2)

#actors {
    margin: 24px 16px 0 0;
}